.cart{
    padding: 1rem 4rem;
    @include flex(row,stretch,space-between,4rem);
    height: calc( 100dvh - 3.8rem);
    background-color: var(--white-100);
    color:var(--black-100);

    >main{
        width: 70%;
        overflow-y: auto;
        >h1{
            text-align: center;
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }

    >aside{
        width: 30%;
        padding: 4rem;
        
        @include flex(column,center,stretch,1.5rem);

        >input{
            padding: 1rem;
            border:1px solid var(--black-20);
            outline: none;
            margin-top: 1rem;
            background-color:var(--white-100);
        }

        >p{
            font-size: 1.1rem;
        }
        >a{
            background-color: $green;
            padding: 1rem;
            text-decoration:none;
            font-weight: 600;
            color: $colorl;
            @include flex;
            text-transform:uppercase;

            &:hover{
                opacity: 0.8;
            }
         }

        >span{
            margin-top: -1rem;
            margin-bottom: -1rem;
            @include flex(row,center,center,5px);
            >code{
                font-weight: 600;
                align-self: flex-end;
            }
        }
    }
}


.cart-item{
    @include flex(row,flex-start,center,3rem);
    >img{
        @include square(10rem);
        object-fit:cover;
        border-radius: 5px;
    }

    >article{
        @include flex(column,center,flex-start,0.25rem);

        a{
            font-size: 1.2rem;
            color: $color2;
            &:hover{
                color:$color3;
            }
        }

        span{
            font-weight: 600;
        }
    }

    >div{
        margin-left: auto;
        @include flex;
        button{
            border:none;
            @include square(2rem);
            @include flex;
            cursor: pointer;
            font-size: 1.2rem;
            &:hover{
                background-color: $green;
                color: $colorl;
            }
        }
    }

    >button{
        border: none;
        background-color: transparent;
        @include flex;
        cursor: pointer;
        font-size: 1.2rem;
        &:hover{
            color:red;
        }
    }
}


@media (max-width:576px){
    .cart-item {
        width: 100%;
        padding: 1.5rem 0;
        > img {
          width: 3rem;
          height: 3rem;
          object-fit: cover;
        }
      }

      .cart>aside{
        border-top: 2px solid var(--black-20);
      }
}