/* SyncLoader.css */
.load-contain{
    width: 100%;
    height:calc(100dvh - 65.4px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sync-loader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45px;
    height: 40px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: $green;
    border-radius: 50%;
    animation: dance 0.6s infinite ease-in-out;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes dance {
    0%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
  }
  
  .skeleton-shape {
    width: 16.375rem; // 262px / 16
    height: 21.875rem; // 350px / 16
    background-color: #f0f0f0;
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-color: #f0f0f0; /* Light gray */
    }
    50% {
      background-color: #e0e0e0; /* Slightly darker gray */
    }
    100% {
      background-color: #f0f0f0; /* Light gray to revert */
    }
  }
  