.login{
    height: calc( 100dvh - 51.2px);
    @include flex(column);

    >main{
        border-radius: 5px;
        width: 100%;
        height: 80%;
        max-width: 400px;
        padding: 2rem;

        @include flex(column,center,stretch);

        >div{
            width: 100%;
            @include flex(column,flex-start,stretch,0.2rem);
            >input,>select{
                @include inputStyle;
                border: 1px solid rgba(162,162,162,0.53);
                border-radius: 5px;
            }
            
            >p{
                text-align: center;
                margin: 2rem;
            }


            button{
                width: 100%;
                margin: auto;
                height: 3rem;
                @include btn(unset,transparent,rgb(31, 31, 31));
                @include flex(row,center,center);
                border: 1px solid #747775;
                font-size: 1.05rem;
                border-radius: 5px;
                transition: all linear 0.3s;

                >svg{
                    height: 60%;
                    width: 11.4%;
                    border-radius: 100%;
                }

                &:hover{
                    background-color: rgb(19, 19, 20);
                    color: white;
                }

                
            }
        }

        >h1{
            width: 100% ;
            @include heading;
            text-align: center;
        }
    }
}