.container-404 {
    text-align: center;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    width: 100%;
    height:calc(100dvh - 65.4px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;


    .error {
        font-size: 10rem;
        font-weight: bold;
        color: $green;
        animation: shake 1s infinite;
    }

    .message {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #555;
    }

    .descrip404 {
        font-size: 1.2rem;
        color: #777;
        margin-bottom: 30px;
    }
    
    .home-link {
        padding: 10px 20px;
        background-color: $green;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .home-link:hover {
        background-color: white;
        color:$green;
    }
    
    @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-10px);
        }
        50% {
            transform: translateX(10px);
        }
        75% {
            transform: translateX(-10px);
        }
    }
    
}