.dashboard-product-box {
  background-color: var(--white-100);
  padding: 2rem;
  overflow: auto;
  @include square(100%);
  width: 100%;
}

.create-product-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  @include square(2.5rem);
  @include flex(row, center, center, 0);
  border-radius: 50%;
  background-color: var(--secondary-indigo);
  color: var(--white-100);
  &:hover {
    opacity: 0.8;
  }
}
.product-delete-btn {
  background-color: rgb(255, 132, 132);
  color: var(--white-100);
  font-size: 1.2rem;
  @include square(2.5rem);
  @include flex;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: absolute;
  // display: none;
  top: 1rem;
  right: 1rem;
}

.product-management {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--white-100);
  width: calc(100vw - 20rem);
  height: calc(100dvh - 3.8rem);
  overflow-y: auto;
  > section {
    overflow-y: auto;
    color: var(--black-100);
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    background-color: var(--primary-light);
    padding: 2rem;
    @include flex(column, unset, unset, 1rem);
    position: relative;
    border-radius: 1rem;

    &::-webkit-scrollbar{
      display: none;
    }

    >div{
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    > h2 {
      padding: 1rem 0;
        font-size: 1.2rem;
        text-align: left;
        font-weight: bold;
        width: 100%;
    }

    > img {
      @include square(100%);
      object-fit: contain;
      border-radius: 1rem;
    }

    > strong {
      display: flex;
      flex-wrap: wrap;
      font-weight: 300;
    }

    > span {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

    > p {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    > h3 {
      text-align: center;
      font-size: 2rem;
    }
  }

  > article {
    color: var(--black-100);
    height: 100%;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    background-color: var(--primary-light);
    border-radius: 1rem;
    position: relative;

    > form {
      @include flex(column, unset, center, 2rem);
      > h2 {
        padding: 1rem 0;
        font-size: 1.2rem;
        text-align: left;
        font-weight: bold;
        width: 100%;
      }

      > img {
        @include square(5rem);
        object-fit: cover;
        border-radius: 5px;
      }

      > div {
        width: 100%;
        position: relative;
        > label {
          position: absolute;
          left: 0;
          top: -1.5rem;
          color: var(--black-40)
        }

        > input {
          @include inputStyle(
            100%,
            1rem,
            unset,
            1px solid rgba(13, 13, 13, 0.196)
          );
          border-radius: 5px;
          color: var(--black-100)
        }
      }

      > button {
        padding: 1rem;
        border: none;
        background-color: rgb(5, 107, 224);
        color: white;
        width: 100%;
        border-radius: 5px;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }

  .shipping-info-card {
    > h1 {
      text-align: center;
      @include heading(2px);
    }
    > h5 {
      margin: 2rem 0 0 0.5rem;
      font-size: 1.1rem;
      font-weight: 700;
    }
    > p {
      margin: 0.5rem;
    }
    > .shipping-btn {
      margin: 2rem 0;
      padding: 1rem;
      border: none;
      background-color: rgb(5, 107, 224);
      color: white;
      width: 100%;
      border-radius: 5px;
      font-size: 1.1rem;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.transaction-product-card {
  @include flex(row, unset, center, 1rem);

  > img {
    @include square(4rem);
    object-fit: cover;
    border-radius: 5px;
  }
  > span {
    margin-left: auto;
  }
}



@media (max-width:768px){

  .product-management{
    width: 100vw;
  }
}